html{
    font-family: 'Nunito Sans', sans-serif;
    font-size: x-large;
    background-color: #A4EBF3;
}

.head{
    display: flex;
    gap: 50px;
    height: 200px;
}
.head > img{
    border-radius: 50%;
}
h1 , h2{
    color: firebrick;
}

summary{
    font-size: x-large;
    color: firebrick;
    font-weight: bold;
}
